@font-face {
    font-family: 'Poppins', sans-serif;    
    src: url(../fonts/prophins/Poppins-Medium.ttf);
    font-family: 'Malayalam', sans-serif;    
    src: url(../fonts/Malayalam\ MN.ttc);
}


/* header */

body {
    background-color: #F5F5F5;
}

.container-header {
    max-width: 1184px;
    width: 90%;
    margin: 0 auto;
}

.container-for-border {
    border-bottom: 1px solid #000000;
}

.homenav {
    display: inline-block;
    font-family: 'Malayalam', sans-serif;
}
.homenav > a {
    color: #000000;
}

.logo > a {
    font-weight: 400;
}

.nav-ul > li:nth-child(2){
    text-align: center;
    margin-left: 330px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.nav-ul > li:nth-child(n+3){
    margin-left: 51px;
}

.nav-ul > li:last-child{
    margin-left: 367px;
}

.middle {
    margin: 5px auto;
}

/* body */

.container-body, .section-2{
    max-width: 1210px;
    width: 90%;
    margin: 0 auto;
}

.main-header {
    margin-top: 72px;
    text-align: center;
    font-size: 24px;
    font-weight: 500px;
    line-height: 28.8px;
    color: #000000;
}

.card-wrapper {
    margin-top: 65px;
}


.brunette1 {
    margin-right: 100px;
    margin-left: 100px;
}

.product-name {
    margin-top: 26px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.paragraph-1 {
    margin-top: 18.48px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.card {
    max-width: 333px;
    border: 1px solid black;
    padding: 10.63px 11.17px 21.96px 11.17px;
}
img {
    max-height: 339px;
    height: 100%;
    max-width: 310px;
    width: 100%;
}

.btn1 {
    text-align: right;
    margin-top: 23px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 6px 26px;
    cursor: pointer;
}

.middle-button {
    margin-left: 100px;
    margin-right: 100px;
}


.card-2 {
    display: inline-block;
}

.text {
    margin-top: 62px;
    display: inline-block;
}

.footer-nav, .footer-nav2, .footer-nav3{
    list-style-type: circle;
}
.footer-nav2 {
    margin-left: 195px;
    margin-right: 195px;
}
.footer-nav {
    margin-left: 15px;
}

/* page 2 */

.contact-container {
    max-width: 908px;
    width: 70%;
    margin: 0 auto;
}

.header-contact {
margin-top: 147px;
text-align: center;
font-size: 40px;
letter-spacing: 3%;
font-weight: 700;
color: #7D0000;
}

.information {
    margin: auto 14px;
    display: inline-block;
    font-size: 27px;
    font-weight: 600;
    line-height: 31.78px;
    color: #0B253E;
}
.mail {
    margin-top: 100px;
}

.time-location {
    margin-left: 324px;
}

.adress-mail {
    font-style: italic;
    text-decoration: underline;
}
.google {
    margin-top: 144px;
    text-align: center;
    max-width: 908px;
    width: 100%;
    max-height: 423px;
    height: 100%;
}


/* Page About */


.about-container {
    max-width: 1210px;
    width: 90%;
    margin: 0 auto;
}

.left {
    max-width: 650px;
    margin-top: 115px;
}
.block {
    display: inline-block;
    font-size: 25px;
    vertical-align: top;
}

.container-blocks {
    display: flex;
    justify-content: space-between;
}

.right {
    margin-top: 185px;
}

.left > address {
    margin-top: 89px;
    text-align: right   ;
}

/* 3page */

.blog-container {
    max-width: 1248px;
    width: 90%;
    margin: 0 auto;
}



.blog-wrap > h3 {
    margin-top: 47px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    color:#000000;
}

.blog-wrap > form {
    margin-top: 42px;
}

form > .search  {
    padding: 17px 159px 17px 27px ;
}

.blog-wrap {
    display: flex;
    justify-content: space-between;
}

.header2 > li {
    display: inline-block;
    margin-top: 93px;
}

.header2 > li:first-child {
    margin-left: 300px; 
    font-weight: 500;
    font-size: 18px;
}

.header2 > li:nth-child(n+2) {
    margin-left: 65px;
    font-size: 18px;
    font-weight: 500;
}

#first-block, #article2{
    margin-top: 68px;
    display: flex;
    justify-content: space-between;
}

#first-block > .article1, #article2 {
    background-color: #E5EBE5;
    padding: 38px 36px;
}



/* profile page */

.container-profile {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.profile-wrapper {
    margin-top: 169px;
}

.profile {
    display: inline-block;
    max-width: 170px;
}

.profile-wrapper {
    display: flex;
}
.person-name {
    margin-left: 70px;
    margin-top: 80px;
}

.person-name > h3 {
    font-size: 30px;
}
.person-name > h4 {
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 3%;
    font-weight: 400;
    font-style: italic;
    margin-top: 14px;
    color: #546CCC;
}

.information-wrapper > h2 {
    margin-top: 96px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 3%;
    font-weight: 500;
    border-bottom: #7D0000;
}

.parag-wrap {
    margin-top: 44px;
}

.parag-wrap > p {
    margin-top: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 5%;
}

span {
    margin-right: 147px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 3%;
}

.footer-products {
    text-align: right;
}

.footer-products > button {
    margin-top: 41px;
    background-color: #87AC87;
    padding: 16px 32px;
    border-radius: 10px;
}